<h3 class="app-name">Dati mappa <div class="update-container" ng-click="manualRefresh()"><i id="refresh-icon" class="fa fa-lg fa-refresh update-icon"></i><span class="update-time">{{lastRefreshTime}}</span></div> </h3>
 
<div class="scrollable sidebar-scrollable">
 
  <div class="scrollable-content">
    <div class="list-group" toggle="off" bubble target="mainSidebar">
        <a ng-click="setMapMode('info meteo')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='info meteo')}" >Informazioni meteo</a>
      <a ng-click="setMapMode('temp')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='temp')}" >Temperature attuali [°C]</a>
      <a ng-click="setMapMode('tempmin')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='tempmin')}" >Minime [°C]</a>
        <a ng-click="setMapMode('tempmax')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='tempmax')}" >Massime [°C]</a>
      <a ng-click="setMapMode('rain')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='rain')}">Precipitazioni [mm]</a>
     <a ng-click="setMapMode('vento'" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='wind')}">Vento [km/h]</a> 
        <a ng-click="setMapMode('punto di rugiada'" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='dew')}">Punto di rugiada [°C]</a>
        <a ng-click="setMapMode('Umidità'" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='humidity')}">Umidità [%]</a>
        <a ng-click="setMapMode('pressione'" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='pressure')}">Pressione [bar]</a>  
        
        <table class="table table-hover" >
            <tr ng-hide="(stations2.setMode1(summary))"><td>Temperatura attuale più alta:</td><td>{{station}}</td><td>{{valore}}°C</td>
            </tr>

        
        
            </table>
    </div>
     
</div>